<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification ✉️</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div>
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <p>Learn more about the Vonage <a href="https://vonage.dev/4dNGFNn" target="_blank">Python SDK</a> and <a href="https://vonage.dev/4nYXkCu" target="_blank">Verify API</a></p>
    </div>

</body>
</html>
